*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body{margin:0px; padding:0px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}
h1{margin:0px auto; display:table; font-size:26px; padding:40px 0px; color:#005883; text-align:center;}
h1 span{font-weight:500;}



header{width:100%; display:table; background-color:#f0b429; margin-bottom:50px;}
#logo{float:left; font-size:24px; text-transform:uppercase; color:#005883; font-weight:600; padding:20px 0px;}
nav{width:auto; float:right;}
nav ul{display:table; float:right;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#005883; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li a:hover{background-color:#005883; color:#f0b429; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#f0b429; transition: all 0.5s ease 0s;}
nav ul li a i{padding-right:10px; color:#005883; transition: all 0.5s ease 0s;}

.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#002e5b; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}
input[type=checkbox], label{display:none;}

.content{display:table; margin-left:19%; width:1150px;}
.content h2{font-size:28px; font-weight:500; color:#005883; border-bottom:1px solid #f0b429; display:table; padding-bottom:14px; margin-bottom:10px;}
.content h3{font-size:24px; font-weight:500; color:#F47920; border-bottom:1px solid #f0b429; display:table; padding-bottom:10px; margin-bottom:10px;}
.content h4{font-size:20px; font-weight:500; color:#F47920; border-bottom:1px solid #f0b429; display:table; padding-bottom:8px; margin-bottom:10px;}
.content h5{font-size:18px; font-weight:500; color:#f0b429; border-bottom:1px solid #f0b429; display:table; padding-bottom:8px; margin-bottom:10px;}
.content h6{font-size:14px; font-weight:500; color:#333333;}
.content p{font-size:16px; line-height:22px; color:#808080; text-align:justify;}

.body header{width:100%; display:table; background-color:#f0b429; margin-bottom:50px;}
.body{margin:0px; padding:0px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-color: rgb(29, 29, 29);}
.content2 {display:table; margin-left:19%; width:1150px;}
.body h2{font-size:28px; font-weight:500; color:#005883; border-bottom:1px solid #f0b429; display:table; padding-bottom:14px; margin-bottom:10px;}
.body h3{font-size:24px; font-weight:500; color:#F47920; border-bottom:1px solid #f0b429; display:table; padding-bottom:10px; margin-bottom:10px;}
.body h4{font-size:20px; font-weight:500; color:#F47920; border-bottom:1px solid #f0b429; display:table; padding-bottom:8px; margin-bottom:10px;}
.body h5{font-size:18px; font-weight:500; color:#F47920; border-bottom:1px solid #f0b429; display:table; padding-bottom:8px; margin-bottom:10px;}
.body h6{font-size:14px; font-weight:500; color:#333333;}
.body p{font-size:16px; line-height:22px; color:#808080; text-align:justify;}


@media only screen and (max-width: 1440px) {
    section{max-width:95%;}
    }
    
    @media only screen and (max-width: 980px) {
    header{padding:20px 0px;}
    #logo{padding:0px;}
    input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
    input[type=checkbox]:fous{background:none;}
    label {float:right; padding:8px 0px; display:inline-block; cursor:pointer;}
    input[type=checkbox]:checked ~ nav {display:block;}
    
    nav{display:none; position:absolute; right:0px; top:53px; background-color:#005883; padding:0px; z-index:99;}
    nav ul{width:auto;}
    nav ul li{float:none; padding:0px; width:100%; display:table;}
    nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
    nav ul li a i{color:#f0b429; padding-right:13px;}
    }
    
    @media only screen and (max-width: 980px) {
    .content{width:90%;}
    }
    
    @media only screen and (max-width: 568px) {
    h1{padding:25px 0px;}
    h1 span{display:block;}
    }
    
    @media only screen and (max-width: 480px) {
    section {max-width: 90%;}
    }
    
    @media only screen and (max-width: 360px) {
    h1{font-size:20px;}
    label{padding:5px 0px;}
    #logo{font-size: 20px;}
    nav{top:47px;}
    }
    
    @media only screen and (max-width: 320px) {
    h1 {padding: 20px 0px;}
    }

IMG.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    }

    
    .container-2 input#search{
        width: 50px;
        height: 50px;
        background: #F47920;
        border: none;
        font-size: 10pt;
        float: left;
        color: #262626;
        padding-left: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
       
        -webkit-transition: width .55s ease;
        -moz-transition: width .55s ease;
        -ms-transition: width .55s ease;
        -o-transition: width .55s ease;
        transition: width .55s ease;
      }
    